<h1>Userinfo#index</h1>
<p>Find me in app/views/userinfo/index.html.erb</p>

<ul>
  <li>
    sub: <%= @sub %>
  </li>
  <li>
    email_verified: <%= @email_verified %>
  </li>
  <li>
    preferred_username: <%= @preferred_username %>
  </li>
  <li>
    given_name: <%= @given_name %>
  </li>
  <li>
    family_name: <%= @family_name %>
  </li>
</ul>
